datasets==2.14.5
imageio==2.33.0
lpips==0.1.4
matplotlib==3.7.3
numpy==1.25.2
opencv_python==4.8.1.78
pandas==1.5.3
Pillow==10.0.0
scipy==1.11.4
setuptools==68.2.2
scikit-image==0.22.0
st_clickable_images==0.0.3
streamlit==1.28.2
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
torch==2.0.1
torchvision
tqdm==4.66.1
